<h1>All Customers</h1>

<div class="links">
<%= link_to 'View Alphabetized Customers', alphabetized_customers_path %> 
<br>
<%= link_to 'View Customers with Missing Emails', missing_email_customers_path %> 
</div>

<div class="customer-list">
  <% @customers.each do |customer| %>
    <%= render partial: 'customer', locals: { customer: customer } %>
  <% end %>
</div>
